<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
         <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
         			 <li ><%= link_to("Teacher Login", { controller: "home", action: "login" }) %></li>
					 <li ><%= link_to("Support", { controller: "home", action: "support" }) %></li>
				</ul>
			</div>
		</nav>

<div class="jumbotron welcome">
	<h1> Educational Gardening Assistant</h1>
  <h2> Student Login </h2>
</div>

<% if flash[:alert3] %>
    <div class="alert alert-danger"><%= flash[:alert3] %></div>
<% end %>
<div class="container">
<%= form_for :login, :html => {:class => "form-horizontal center"} do |f| %>
	<div class="form-group">
        <%= f.label :sid, "Study ID:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :sid, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password, "Password:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
    	<div class="col-md-offset-2 col-md-10">
      		<button type="submit" class="btn btn-primary btn-lg">Login</button>
    	</div>
  	</div>
  </div>
<% end %>