<h1>Sign Up</h1>

<%= form_for :newuser, url: users_path do |f| %>

  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

<%= f.label :email, 'Email' %>
<%= f.text_field :email %>

<%= f.label :new_password, 'Password' %>
<%= f.text_field :new_password %>

<%= f.label :new_password_confirmation, 'Confirm Password' %>
<%= f.text_field :new_password_confirmation %>

<%= f.submit "Sign Up" %>
<% end %>