<!--Unused 10/21/2015 2:00pm-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div class="pills">
	<ul class="nav nav-pills">
		<li class="active"><%= link_to_if(session[:current_user_id].nil?, "Sign Up", { controller: "users", action: "new" }) %></li>
		<li><%= link_to_if(session[:current_user_id].nil?, "Log In", { controller: "home", action: "login" }) %></li>
		<li><%= link_to_unless(session[:current_user_id].nil?, "Log Out", { controller: "home", action: "logout" }) %></li>
		<li><%= link_to("View Users", { controller: "users", action: "index" }) %></li>
 	</ul>
</div>

<div class="jumbotron">
  <h1><STRONG>Junior Master Gardening Curriculum App</STRONG></h1>
</div>

</html>