<h1> Log In </h1>

<%= form_for :login do |f| %>

<%= f.label :email, 'Email' %>
<%= f.text_field :email %>

<%= f.label :password, 'Password' %>
<%= f.text_field :password %>

<%= f.submit 'Login' %>
<% end %>

<%= link_to "Back", { controller: "home", action: "index" } %>