<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div class="jumbotron">
	<h1> Junior Master Gardener Adventure</h1>
</div>

<div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
		<%= form_for :login do |f| %>
		<div class="form-group input-group">
			<center><%= f.label :email, 'Email' %></center>
			<%= f.text_field :email %>
		</div>
		<div class="form-group">
			<center><%= f.label :password, 'Password' %></center>
			<%= f.password_field :password %>
		</div>
		<div class="form-group">
			<center><%= button_tag(type: 'submit', class: "btn btn-lg navbar-btn") do %>
				Login </center>
				<div class="form-group text-center">
            <a href="#">Forgot Password</a>&nbsp;|&nbsp;<a href="#">Support</a>
          </div>
		</div>
	</div>
</div>
</div>
</div>
<% end %>
<% end %>
