<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="/assets/application.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
</head>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
         <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><%= link_to_unless(session[:current_teacher_id].nil?, "Home", { controller: "home", action: "dashboard" }) %></li>
          <li ><%= link_to_unless(session[:current_teacher_id].nil?, "Create Student", { controller: "students", action: "new" }) %></li>
					<li ><%= link_to_unless(session[:current_teacher_id].nil?, "Create Teacher", { controller: "teachers", action: "new" }) %></li>
					<li ><%= link_to_unless(session[:current_teacher_id].nil?, "Log Out", { controller: "home", action: "logout" }) %></li>
				</ul>
			</div>
		</nav>
<br>
<center>
<TABLE  BORDER="5" WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="4">
         <H3><center><b>Teacher Accounts</b></center></H3>
      </TH>
   </TR>
      <TH><center>First Name</center></TH>
      <TH><center>Last Name</center></TH>
      <TH><center>Email</center></TH>
      <TH><center></center></TH>
<ul>
<% @teachers.each do |teacher| %>
   <TR>
      <TD><center> <%= teacher.firstname %></center></TD>
      <TD><center> <%= teacher.lastname %></center></TD>
      <TD><center> <%= teacher.email %></center></TD>
      <TD><center> <%= link_to 'Deactivate', teacher_path(teacher),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></center></TD>
   </TR>

<% end %>
</TABLE>
</center>
</ul>
<br>
<center>
<TABLE  BORDER="5" WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="5">
         <H3><center><b>Student Accounts</b></center></H3>
      </TH>
   </TR>
      <TH><center>First Name</center></TH>
      <TH><center>Last Name</center></TH>
      <TH><center>Study ID</center></TH>
      <TH><center>Enrollment Status</center></TH>
      <TH><center></center></TH>
<ul>
<% @students.each do |student| %>
   <TR>
      <TD><center> <%= student.firstname %></center></TD>
      <TD><center> <%= student.lastname %></center></TD>
      <TD><center> <%= student.sid %></center></TD>
      <TD><center> <%= student.enrollment %></center></TD>
      <TD><center> <%= link_to 'Unenroll', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></center></TD>
   </TR>
<% end %>
</TABLE>
</center>
</ul>